
@{
    ViewBag.Title = "XacNhanMuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sucessful</h2>
<h3>We will contact you as soon as possible</h3>
<p>
    @Html.ActionLink("Home","Index","BookStore")
</p>
