@model IEnumerable<BookStore.Models.SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="height: 30px; background-color: darkkhaki">
    <p style="text-align: center; font-size: 25px; color: red;"><b>NEW BOOK</b></p>
</div>
@foreach (var sach in Model)
{
    <div class="col-sm-4 col-sm-4 col-sm-4" style="text-align: center;padding:2px;margin-top:1px">
        <div class="thumbnail">
            <div>
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach})">
                    <img src="~/Content/Images/@sach.Anhbia" width="150" style="text-align: center; height: 200px;" />
            </div>
            <div style="text-align: center">
                <h4>@sach.Tensach</h4>
            </div>
            <div class="r" style="text-align:justify; padding-left: 5px">
                <p style="padding:0 0 0 15px">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>
}

